/*
Tutorial Name: How to Create a Registration and Login System Using PHP and mySQL
Author: Samuel Dalusung
*/



/*= GENERAL STYLES
--------------------------------------------------------*/
body {
    background: #efefef;
    font-family: 'Open Sans', sans-serif;
    color: #777;
}

h2 {
  padding-top: 0;
  margin-top: 0;
}

a {
    color: #be1823;
    font-weight: 400;
    text-decoration: none;
}

a.active {
    color: #777;
}

span {
    font-weight: 300;
    color: #be1823;
}

.mlogin {
    margin: 100px auto 0;
}

.medit {
  margin: 10px auto 0;
}

.mregister {
    margin: 10px auto 0;
}

.mssgWrap {
  margin: 100px auto 0;
  width: 800px;
  padding: 0px 16px 25px 10px;
  font-weight: 400;
  overflow: hidden;
  height: auto;
  background: #fff;
}

.error {
    margin: 40px auto 0;
    border: 1px solid #777;
    padding: 3px;
    color: #fff;
    text-align: center;
    width: 650px;
    background: #be1823;
}

.regtext {
    font-size: 13px;
    margin-top: 26px;
    color: #777;
}

/*= CONTAINERS
--------------------------------------------------------*/
.container {
    padding: 0px 16px 25px 10px;
    font-weight: 400;
    overflow: hidden;
    width: 350px;
    height: auto;
    background: #fff;

}

.mssgCon {
  padding: 0px 16px 25px 10px;
  font-weight: 400;
  overflow: hidden;
  width: 100%;
  height: auto;
  background: #fff;
}

.edit {
  padding: 0px 16px 25px 10px;
  font-weight: 400;
  overflow: hidden;
  width: 800px;
  height: auto;
  background: #fff;
}

#welcome {
    width: 400px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    background: #fff;
    margin: 50px auto 0;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

#profile {
  width: 800px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  background: #fff;
  margin: 50px auto 0;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.13);
  box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

.container h1 {
    color: #777;
    text-align: center;
    font-weight: 300;
    margin-top: 13px;
}

.container label {
    color: #777;
    font-size: 14px;
}

#login {
    width: 320px;
    margin: auto;
    padding-bottom: 15px;
}

.container form .input,.container input[type=text],.container input[type=password],.container input[type=e] {
    background: #fbfbfb;
    font-size: 24px;
    line-height: 1;
    width: 100%;
    padding: 3px;
    margin: 0 6px 5px 0;
    outline: none;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
}

.mssgCon form .input,.container input[type=text],.container input[type=password],.container input[type=e] {
    background: #fbfbfb;
    font-size: 24px;
    line-height: 1;
    width: 100%;
    padding: 3px;
    margin: 0 6px 5px 0;
    outline: none;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
}

.container form .input:focus {
    border: 1px solid #be1823;
    -webkit-box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
    -moz-box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
    box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
}

.mssgCon form .input:focus {
    border: 1px solid #be1823;
    -webkit-box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
    -moz-box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
    box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
}



/*= BUTTONS
--------------------------------------------------------*/

.button{
border: solid 1px #be1823;
	background: #be1823;
	background: -webkit-gradient(linear, left top, left bottom, from(#be1823), to(#be1823));
	background: -moz-linear-gradient(top,  #be1823,  #be1823);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#be1823', endColorstr='#be1823');
	color: #fff;
padding: 7px 12px;

float: right;
cursor: pointer;
}


.button:hover{
background: #e8545d;
	background: -webkit-gradient(linear, left top, left bottom, from(#e8545d), to(#e8545d));
	background: -moz-linear-gradient(top,  #e8545d,  #e8545d);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8545d', endColorstr='#e8545d');
}



/*= FOOTER
--------------------------------------------------------*/
footer {
    color: #777;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
    float: left;
    clear: both;
    width: 100%;
    margin: auto;;

}

a.icon {
  display: inline-block;
  background: url("../img/icons1.png");
  margin: 4px;
  width: 32px;
  height: 32px;
  font-size: 0px;
  -webkit-transition: background 0.3s;
     -moz-transition: background 0.3s;
          transition: background 0.3s;
}

/*= HEADER
--------------------------------------------------------*/

.logo {

  display: inline-block;
  margin-left: 10%;
  float: left;
}

/* a.logo {
   background: url(../img/logo33.png);
   width: 60px;
   height: 60px;


  }
  a.logo:hover {
   background: url(../img/logo22.png);
  }
  */




header {
    color: #777;
    font-size: 20px;
    width: 100%;
    margin: auto;
    margin-top: 5px;

}
header ul li{
  display: inline-block;
  padding-right: 10px;
  border-right: 1px solid #ccc;

}

header li:last-child {
  border-right:0;
}



header a:hover {
  color: #777;
}

header a:active {
  color: #777;
}

.top {
  display:inline-block;

}

.top p {
  margin-left: 120px;
  font-size: 19px;

}

.top2 {
  margin-left: auto;
  float: right;
  display:inline-block;
  margin-right: 10%;
  vertical-align: middle;
  margin-top: 18px;

}

.top2 a{
  font-size: 19px;
  border-right: 1px solid #ccc;
  padding: 1px;
  padding-right: 10px;
}
.top2 a:last-child {
  border-right:0;
}

/* index content */
.content {
  clear: left;
  float: left;
  overflow: hidden;
  width: 80%;
  margin-left: 10%;
  margin-right: 20%;
}

.content .con {
  float: left;
  width: 100%;
  position: relative;
  right: 50%;
}

.con1 {
  float: left;
  width: 50%;
  position: relative;
  left: 50%;
  overflow: hidden;

}

.con2 {
  float: left;
  width: 50%;
  position: relative;
  left: 50%;
  overflow: hidden;

}
.content p{
  padding: 10px;
}

.ab {
  font-size: 20px;
}

.question {
  color: #be1823;
  margin-bottom: 5px;
  margin-top: 25px;
  font-size: 20px;
}

.answer {
  font-size: 17px;
  color: #777;
}

li {
  color: #be1823;
  margin-bottom: 20px;
}
/* facebook */
a.icon.f {
  background-position: 0 0;
}

a.icon.f:hover {
  background-position: 0 -32px;
}

a.icon.t {
  background-position: -32px 0;
}

a.icon.t:hover {
  background-position: -32px -32px;
}

a.icon.i {
  background-position: -64px 0;
}

a.icon.i:hover {
  background-position: -64px -32px;
}

.bit{
  display: inline-block;
  background-image: url("../img/bit1.png");
  margin: 4px;
  width: 32px;
  height: 32px;
  font-size: 0px;
  border: 0;
  -webkit-transition: background 0.2s;
     -moz-transition: background 0.2s;
          transition: background 0.2s;
}

.bit:hover{
  background-position: 0 -32px;
  cursor: pointer;
}

.subscription{
  display: inline-block;
}

.subscription {
  text-align: center;
  display: table-cell;
  vertical-align: middle;

}


  /*=  other
    --------------------------------------------------------*/

.pstrength-minchar {font-size : 12px;}

.msg
 {
 font-size:11px;
 color:#666;
 padding:10px;
 }

 #sendMssg {
   width: 100%;
 }

 .contact {
   font-size: 28px;
   padding-top: 0;
   text-align: center;
   color: #be1823;
 }

 .about {
   clear: left;
   float: left;
   overflow: hidden;
   width: 80%;
   margin-left: 10%;
   margin-right: 20%;
 }

 .message {
   font-size: 20px;
   text-align: center;
   color: #be1823;
   vertical-align: middle;
   margin: auto;
   margin-top: 20px;
   margin-bottom: 20px;
 }

.profileNav {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #ccc;
}

.profileNav ul {
  padding: 0;
  margin: 0;
  height: 30px;
  margin-right: 0;
  ma
}

.profileNav li{
  list-style-type: none;
}

 .profileNav a{
   padding: 0;
   margin: 0;
   text-align: center;
   display: inline-block;
   vertical-align: middle;
   border-right: 1px solid #ccc;
   width: 19%;
   height: 80%;
   color: #be1823;
   font-size: 20px;
 }

 .profileNav a:last-child {
   border-right:0;
 }
a:hover {
   color: #777;
 }
a:active {
   color: #777;
 }

 .mssg {
   width: 95%;
   border-top: 1px solid #be1823;
   margin: 10px;
   padding: 10px;
   overflow: auto;
   word-wrap: break-word;

   word-break: normal;  /* не поддерживает Opera12.14, значение keep-all не поддерживается IE, Chrome */
   line-break: auto;  /* нет поддержки для русского языка */
   hyphens: manual;  /* значение auto не поддерживается Chrome */



 }
textarea {
  resize: none;
  overflow: auto;
}

.subject {
  color: #be1823;
}

.date {
  color: #be1823;
  
}
